[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = davidadeola_
	email = davidolorunsesan15@gmail.com
	username = davidadeola_
